@import url(../../estilos.css);

.tituloPaginaInicial{
    font-size:2em;
    text-align: center;
    font-family: var(--fonte__titulo);
    color: var(--preto);
    font-weight: 700;
}

/* 
@media (min-width:450px) and (max-width:727px){

}

@media (min-width:728px) and (max-width:1024px){
   
}

@media (min-width:1025px){
    
} */