@import url(../../estilos.css);

.cabecalho{
    background-color: var(--azul-escuro);
    height: 10vh;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
}

.foto_cabecalho{
    width: 15em;
    height: 15em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cabecalho_botao{
    margin-right: auto;
    display: none;
}