@import url(../../estilos.css);

.projeto {
    text-align: center;
    width: 150px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 1.5rem;
    transition: transform .2s;
}

.projeto:hover {
    transform: translate(0, -1rem);
}

.capa {
    width: 100%;
    border-radius: 1em;
}

.titulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    color: var(--preto);
    line-height: 1.75rem;
    margin: 1.5rem 0 1.75rem;
}