@import url(../../estilos.css);

.titulo{
    font-size: 1.5em;
    text-align: center;
    font-family: var(--fonte__titulo);
    color: var(--preto);
    font-weight: 700;
}

.texto{
    font-family: var(--fonte__titulo);
    color: var(--preto);
    font-size: 1em;
    text-align: justify;
    line-height: 1.5;
    margin: 2em;
}